<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <title>Secret Message</title>
        <link 
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
        >
    </head>
    <body class="bg-dark text-light">
        <div class="container py-5">
            <h1 class="mb-4">Secret Message</h1>
            <div class="card bg-secondary-subtle text-dark">
                <div class="card-body">
                    <p class="fs-4 mb-0">{{message}}</p>
                </div>
            </div>
            
            <a href="/" class="btn btn-outline-light mt-4"> Back to Home</a>
        </div>
    </body>
</html>